.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer utilities {
  .scrollbar-none {
    scrollbar-width: none; 
    -ms-overflow-style: none; 
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none; 
  }
}